body {
  margin: 40px;
}

.wrapper {
  display: inline-grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 300px 200px 200px;
  height: 100px;
  width: 300px;
  align-content: center;
  justify-content: space-between;
}

.box {
  background-color: #483D8B;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
